.aboutus{ margin-top: 50px;
color: black; }

.city{ text-transform: uppercase;
	letter-spacing: .1em;
	margin-bottom: 20px;
	margin-top: 20px;
}
.store{
font-weight: bold;
margin-bottom: 5px;
}
.store a{ color: #E50000;}