

a:link, a:hover, a:visited, a:active {text-decoration: none;}
a {text-decoration: none;}
ul li{list-style: none;}

body{
	max-width: 83%;
 font-family: "skolar-sans-latin", Helvetica;
	color: #E50000;
}
.sidebar-nav{
	margin-left: -15px;
	max-width:100%; 
}
.sidebar-nav a{
	font-size: 13px;
	color: #E50000;
}
.container-fluid{
}
.sidebar{
	z-index: 1000;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    overflow: scroll;
 }

.grid-item{ 
  position: relative;
  float: left;
  width: 250px;
}

.sidebar-nav li {
    line-height: 20px;
}

.sidebar-nav li a{
	    display: block;
    text-decoration: none;
 -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
}

.sidebar-nav li a:hover {
  -webkit-transform: translate(1em,0);
  -moz-transform: translate(1em,0);
  -o-transform: translate(1em,0);
  -ms-transform: translate(1em,0);
}
.logo img{
	width: 140px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.books a{text-decoration: none;}
.books{
	margin: 10px;
}

.now-on {
  padding-right: 2px;
  padding-left: 2px;
font-size: 13px;
  color: white;
  background-color: #E50000;
  }

.books img{
	width: 100%;
}
.book-title{
	font-size: 15px;
	text-align: center;
	margin-bottom: 5px;
}
.book-author{
	margin-top: 0;
	font-size: 13px;
	text-align: center;
  color: black;
}
.wrapper{
	margin-top: 20px;
		position: relative;
		left: 20%;
}
.bookshelf{
	display: block;
width: 100%;
}

.categories li{
	display: inline-block;
	padding: 5px;
}
.sort{
	margin-top: 10px;
	border-bottom: 1px solid; 
    width: 63%;
}
.search{
	margin-top: 10px;
}
.social-media{margin-top: 10px}
form p {margin-bottom: 2px;}
input{
    border: 1px solid #dd0707;
}
.signup{
    font-size: 12px;
    margin-top: -1px;
    background-color: #dd0707;
    color: white;}
.signup:hover{
    background-color: #fff;
    color: #dd0707;
 }

 ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 1px;
  height: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #dd0707;
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* ==========================================================================
   Media queries
   ========================================================================== */

@media screen and (max-width:991px){



}/* end max-width 991 */

@media screen and (max-width:767px){
.logo img{
  width: 50px;

}
}/* end max-width 767 */
